<h1><%= @artist.name %></h1>

<ul>

<% @artist.songs.each do |song| %>
    <li> <%= link_to song.title, song_path(song) %></li>
    <% end %>

<% @artist.each do |artist| %>
    <li> <%= artist.song_count %> </li>
    <% end %>    
</ul>